$container-max-width: 960px;

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 20px;

  h1, .label {
    text-align: center;
  }

  .label {
    margin-top: 10px;
  }

  mat-divider {
    margin: 20px 0;
  }

  section {
    h2 {
      text-align: center;
    }

    p {
      text-align: justify;
    }
  }

  /* Responsivo */
  @media screen and (max-width: $container-max-width) {
    padding: 10px;
  }
}

.headerMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Arial', sans-serif; /* Altere a fonte conforme necessário */
  background-color: rgb(91, 82, 69); /* Altere a cor de fundo conforme necessário */
  color: #fff; /* Cor do texto */
}

.amarelo-color {
      flex: 1;
      color: rgb(240, 243, 234);
  }

  .mat-menu {
    display: flex;
    flex-direction: row;

    .mat-menu-item {
      margin-right: 10px; /* Espaçamento entre os botões */
    }
  }
